In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv('Advertising.csv')

In [3]:
sales.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
sales.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [5]:
sales.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
features = ['TV','Radio','Newspaper','Sales']
A = sales[features]

In [8]:
scaler = MinMaxScaler()

In [9]:
A_norm = scaler.fit_transform(A)

In [10]:
A_norm_sales = pd.DataFrame(A_norm,columns=features)

In [11]:
A_norm_sales.head()

         TV     Radio  Newspaper     Sales
0  0.775786  0.762097   0.605981  0.807087
1  0.148123  0.792339   0.394019  0.346457
2  0.055800  0.925403   0.606860  0.303150
3  0.509976  0.832661   0.511873  0.665354
4  0.609063  0.217742   0.510994  0.444882

In [13]:
sales[features]=A_norm_sales

In [14]:
sales.head()

   Unnamed: 0        TV     Radio  Newspaper     Sales
0           1  0.775786  0.762097   0.605981  0.807087
1           2  0.148123  0.792339   0.394019  0.346457
2           3  0.055800  0.925403   0.606860  0.303150
3           4  0.509976  0.832661   0.511873  0.665354
4           5  0.609063  0.217742   0.510994  0.444882

In [15]:
from sklearn.model_selection import train_test_split

In [17]:
X = sales.drop(columns=['Sales'])
y = sales['Sales']

In [18]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=50)

In [21]:
from sklearn.ensemble import RandomForestRegressor

In [23]:
pred_model = RandomForestRegressor(n_estimators=100,random_state=50)
pred_model.fit(X_train,y_train)

RandomForestRegressor(random_state=50)

In [25]:
y_pred=pred_model.predict(X_test)

In [26]:
from sklearn.metrics import mean_squared_error,r2_score
mse = mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print("mse = ",mse)
print("r2_score = ",r2)

mse =  0.0004297665695331395
r2_score =  0.9805260124843068